* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    min-height: 80px;
    color: white;
    background-color: gray;
}

h1 {
    font-size: 34px;
}

#title {
    text-align: center;
    width: auto;
    min-width: 250px;
}

#description {
    text-align: center;
    width: auto;
    min-width: 250px
}

a {
    color: white;
    margin-right: 20px;
}